body{
    background-color: black;
}

#divA{
    width: 1250px;
    height: 400px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

#divA1{
    width: 843px;
    height: 98%;
    border: 0.001px solid white;
    color: white;
    font-size: 13pt;
    background-color: black;
    float:left;
    font-size: 25pt;
    color: thistle;
}

#divA2{
    width:403px;
    height:100%;
    border:2px solid black;
    margin-left: 843px;
}

#mon{
    width:1250px;
    height: 165px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#tue{
    width:1250px;
    height: 165px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#wed{
    width:1250px;
    height: 165px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#thu{
    width:1250px;
    height: 150px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#fri{
    width:1250px;
    height: 150px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#sat{
    width:1250px;
    height: 170px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#sun{
    width:1250px;
    height: 125px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius:20px;
    color: white;
    font-size: 30pt;
}

#cap{
    color: #ccc;
    font-size: 27pt;
    font-family: sans-serif;
}

#homebt{
    width: 123px;
    height: 40px;
    margin-left:20px ;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #ccc;
    color: black;
    font-family: sans-serif;
    font-size: 13pt;
}
#homebt:hover{
    width:130px;
    height:45px;
    font-size: 14pt;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}